USE [EmployeeManagement]
GO
/****** Object:  Table [dbo].[TEAM]    Script Date: 05/03/2017 23:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEAM](
	[TEAMID] [int] IDENTITY(1,1) NOT NULL,
	[TEAMNAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TEAMID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRAINING]    Script Date: 05/03/2017 23:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRAINING](
	[TRAININGID] [int] IDENTITY(1,1) NOT NULL,
	[TRAINING] [varchar](50) NULL,
	[DURATION] [int] NULL,
	[EMPTYPE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TRAININGID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 05/03/2017 23:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMIN](
	[USERID] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 05/03/2017 23:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPID] [int] IDENTITY(1,1) NOT NULL,
	[EMPNAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[EMPTYPE] [varchar](50) NULL,
	[MOBILENUMBER] [int] NULL,
	[DATEOFBIRTH] [datetime] NULL,
	[DATEOFJOINING] [datetime] NULL,
	[TEAMID] [int] NULL,
	[TRAININGID] [int] NULL,
	[COSTTOCOMPANY] [int] NULL,
	[TECHNICALSKILLS] [varchar](150) NULL,
	[TOTALEXP] [decimal](18, 0) NULL,
	[PERMANENTADDRESS] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[CRUD_TRAINING]    Script Date: 05/03/2017 23:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_TRAINING]
@TRAININGID INT=NULL,
@TRAINING VARCHAR(50)=NULL,
@DURATION INT=NULL,
@EMPTYPE INT=NULL,
@Input VARCHAR(50)
AS
	BEGIN
		BEGIN TRY
			IF(@Input='INSERT')
				BEGIN
					INSERT INTO TRAINING(TRAININGID,TRAINING,DURATION,EMPTYPE)VALUES(@TRAININGID,@TRAINING,@DURATION,@EMPTYPE)
				END
			IF(@Input='UPDATE')
				BEGIN
					UPDATE TRAINING SET TRAINING=@TRAINING,DURATION=@DURATION,EMPTYPE=@EMPTYPE WHERE TRAININGID=@TRAININGID
				END
			IF(@Input='DELETE')
				BEGIN
					DELETE  FROM TRAINING WHERE TRAININGID=@TRAININGID
				END
			IF(@Input='SELECT ALL')
				BEGIN
					SELECT * FROM TRAINING
				END
			IF(@Input='SELECT BY ID')
				BEGIN
					SELECT * FROM TRAINING WHERE TRAININGID=@TRAININGID
				END
			END TRY
			BEGIN CATCH
				DECLARE @ERROR_MESSAGE VARCHAR(300)
				SET @ERROR_MESSAGE=ERROR_MESSAGE();
				RAISERROR(@ERROR_MESSAGE,16,1)
			END CATCH
		END
GO
/****** Object:  StoredProcedure [dbo].[CRUD_TEAM]    Script Date: 05/03/2017 23:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_TEAM]
@TEAMID INT=NULL,
@TEAMNAME VARCHAR(50)=NULL,
@Input VARCHAR(50)
AS
	BEGIN
		BEGIN TRY
			IF(@Input='INSERT')
				BEGIN
					INSERT INTO TEAM(TEAMID,TEAMNAME)VALUES(@TEAMID,@TEAMNAME)
				END
			IF(@Input='UPDATE')
				BEGIN
					UPDATE TEAM SET TEAMNAME=@TEAMNAME WHERE TEAMID=@TEAMID
				END
			IF(@Input='DELETE')
				BEGIN
					DELETE FROM TEAM WHERE TEAMID=@TEAMID
				END
			IF(@Input='SELECT ALL')
				BEGIN
					SELECT * FROM TEAM
				END
			IF(@Input='SELECT BY ID')
				BEGIN
					SELECT * FROM TEAM WHERE TEAMID=@TEAMID
				END
			END TRY
			BEGIN CATCH
				DECLARE @ERROR_MESSAGE VARCHAR(300)
				SET @ERROR_MESSAGE=ERROR_MESSAGE();
				RAISERROR(@ERROR_MESSAGE,16,1)
			END CATCH
		END
GO
/****** Object:  StoredProcedure [dbo].[CRUD_ADMIN]    Script Date: 05/03/2017 23:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_ADMIN]
@USERID VARCHAR(50)=NULL,
@PASSWORD VARCHAR(50)=NULL,
@Input VARCHAR(50)
AS
	 BEGIN 
	 	  BEGIN TRY
	 	    IF(@Input='INSERT')
               BEGIN
                 INSERT INTO [ADMIN](USERID,[PASSWORD])VALUES(@USERID,@PASSWORD)
               END
            IF(@Input='UPDATE')
               BEGIN
                 UPDATE [ADMIN] SET [PASSWORD]=@PASSWORD WHERE USERID=@USERID
               END
            IF(@Input='DELETE')
               BEGIN
                 DELETE FROM [ADMIN] WHERE USERID=@USERID
               END
            IF(@Input='SELECT ALL')
               BEGIN
                   SELECT * FROM [ADMIN]
               END
            IF(@Input='SELECT BY ID')
				BEGIN
					SELECT * FROM [ADMIN] WHERE USERID=@USERID
				END
			IF(@Input='Validate Admin')
				BEGIN
					SELECT 1 FROM [ADMIN] WHERE USERID=@USERID AND [PASSWORD]=@PASSWORD
				END
             END TRY
        BEGIN CATCH		
			DECLARE @ERROR_MESSAGE VARCHAR(300)
			SET @ERROR_MESSAGE=ERROR_MESSAGE();
			RAISERROR(@ERROR_MESSAGE,16,1)
		END CATCH
     END
GO
/****** Object:  Table [dbo].[TIMESHEET]    Script Date: 05/03/2017 23:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMESHEET](
	[TRACKID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN] [datetime] NULL,
	[LOGOUT] [datetime] NULL,
	[EMPID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TRACKID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARYSLIP]    Script Date: 05/03/2017 23:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARYSLIP](
	[SALARYID] [int] IDENTITY(1,1) NOT NULL,
	[SALDATE] [datetime] NULL,
	[SALARY] [int] NULL,
	[SALMONYEAR] [datetime] NULL,
	[NOOFDAYSWORKED] [int] NULL,
	[EMPID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SALARYID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANAGER]    Script Date: 05/03/2017 23:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MANAGER](
	[MANAGERID] [int] IDENTITY(1,1) NOT NULL,
	[TEAM] [varchar](50) NULL,
	[EMPID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANAGERID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEELEAVES]    Script Date: 05/03/2017 23:33:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEELEAVES](
	[LEAVEID] [int] IDENTITY(1,1) NOT NULL,
	[LEAVENAME] [varchar](50) NULL,
	[LEAVEDATE] [datetime] NULL,
	[EMPID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LEAVEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[CRUD_EMPLOYEE]    Script Date: 05/03/2017 23:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_EMPLOYEE]
@EMPID INT=NULL,
@EMPNAME VARCHAR(50)=NULL,
@EMAIL VARCHAR(150)=NULL,
@EMPTYPE VARCHAR(150)=NULL,
@MOBILENUMBER INT=NULL,
@DATEOFBIRTH INT=NULL,
@DATEOFJOINING VARCHAR(150)=NULL,
@TEAMID INT=NULL,
@TRAININGID INT=NULL,
@COSTTOCOMPANY INT=NULL,
@TECHNICALSKILLS VARCHAR(300)=NULL,
@TOTALEXP DECIMAL=NULL,
@PERMANENTADDRESS VARCHAR(300)=NULL,
@Input VARCHAR(50)
AS
	BEGIN
		BEGIN TRY
			IF(@Input='INSERT')
				BEGIN
					INSERT INTO EMPLOYEE(EMPID,EMPNAME,EMAIL,EMPTYPE,MOBILENUMBER,DATEOFBIRTH,DATEOFJOINING,TEAMID,TRAININGID,
					COSTTOCOMPANY,TECHNICALSKILLS,TOTALEXP,PERMANENTADDRESS)VALUES(@EMPID,@EMPNAME,@EMAIL,@EMPTYPE,@MOBILENUMBER,
					@DATEOFBIRTH,@DATEOFJOINING,@TEAMID,@TRAININGID,@COSTTOCOMPANY,@TECHNICALSKILLS,@TOTALEXP,@PERMANENTADDRESS)
				END
			IF(@Input='UPDATE')
				BEGIN
					UPDATE EMPLOYEE SET EMPNAME=@EMPNAME,EMAIL=@EMAIL,EMPTYPE=@EMPTYPE,MOBILENUMBER=@MOBILENUMBER,DATEOFBIRTH=
					@DATEOFBIRTH,DATEOFJOINING=@DATEOFJOINING,TEAMID=@TEAMID,TRAININGID=@TRAININGID,COSTTOCOMPANY=@COSTTOCOMPANY,
					TECHNICALSKILLS=@TECHNICALSKILLS,TOTALEXP=@TOTALEXP,PERMANENTADDRESS=@PERMANENTADDRESS WHERE EMPID=@EMPID
				END
			IF(@Input='DELETE')
				BEGIN
					DELETE FROM EMPLOYEE WHERE EMPID=@EMPID
				END
			IF(@Input='SELECT ALL')
				BEGIN
					SELECT * FROM EMPLOYEE
				END
			IF(@Input='SELECT BY ID')
			BEGIN
				SELECT * FROM EMPLOYEE WHERE EMPID=@EMPID
			END
		END TRY
		BEGIN CATCH
			DECLARE @ERROR_MESSAGE VARCHAR(300)
			SET @ERROR_MESSAGE=ERROR_MESSAGE();
			RAISERROR(@ERROR_MESSAGE,16,1)
		END CATCH
	END
GO
/****** Object:  StoredProcedure [dbo].[CRUD_TMESHEET]    Script Date: 05/03/2017 23:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_TMESHEET]
@TRACKID INT=NULL,
@LOGIN DATETIME=NULL,
@LOGOUT DATETIME=NULL,
@EMPID INT=NULL,
@Input VARCHAR(50)
AS
	BEGIN
		BEGIN TRY
			IF(@Input='INSERT')
				BEGIN
					INSERT INTO TIMESHEET(TRACKID,[LOGIN],LOGOUT,EMPID)VALUES(@TRACKID,@LOGIN,@LOGOUT,@EMPID)
				END
			IF(@Input='UPDATE')
				BEGIN
					UPDATE TIMESHEET SET LOGOUT=@LOGOUT,[LOGIN]=@LOGIN,EMPID=@EMPID WHERE TRACKID=@TRACKID
				END 
			IF(@Input='DELETE')
				BEGIN
					DELETE  FROM TIMESHEET WHERE TRACKID=@TRACKID
				END
			IF(@Input='SELECT ALL')
				BEGIN
					SELECT * FROM TIMESHEET
				END
			IF(@Input='SELECT BY ID')
				BEGIN
					SELECT * FROM TIMESHEET WHERE TRACKID=@TRACKID
				END
			
		END TRY
		BEGIN CATCH
			DECLARE @ERROR_MESSAGE VARCHAR(300)
			SET @ERROR_MESSAGE=ERROR_MESSAGE();
			RAISERROR(@ERROR_MESSAGE,16,1)
		END CATCH
	END
GO
/****** Object:  StoredProcedure [dbo].[CRUD_SALARYSLIP]    Script Date: 05/03/2017 23:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_SALARYSLIP]
@SALARYID INT=NULL,
@SALDATE DATETIME=NULL,
@SALARY INT=NULL,
@SALMONYEAR VARCHAR(50)=NULL,
@NOOFDAYSWORKED INT=NULL,
@EMPID INT=NULL,
@Input VARCHAR(50)
AS
	BEGIN 
		BEGIN TRY
			IF(@Input='INSERT')
				BEGIN
					INSERT INTO SALARYSLIP(SALARYID,SALDATE,SALARY,SALMONYEAR,NOOFDAYSWORKED,EMPID)VALUES(@SALARYID,@SALDATE,
					@SALARY,@SALMONYEAR,@NOOFDAYSWORKED,@EMPID)
				END
			IF(@Input='UPDATE')
				BEGIN
					UPDATE SALARYSLIP SET SALDATE=@SALDATE,SALARY=@SALARY,SALMONYEAR=@SALMONYEAR,NOOFDAYSWORKED=@NOOFDAYSWORKED,
					EMPID=@EMPID WHERE SALARYID=@SALARYID
				END
			IF(@Input='DELETE')
				BEGIN
					DELETE  FROM SALARYSLIP WHERE SALARYID=@SALARYID
				END
			IF(@Input='SELECT ALL')
				BEGIN
					SELECT * FROM SALARYSLIP 
				END
			IF(@Input='SELECT BY ID')
				BEGIN
					SELECT * FROM SALARYSLIP WHERE SALARYID=@SALARYID
				END
		END TRY
		BEGIN CATCH
			DECLARE @ERROR_MESSAGE VARCHAR(300)
			SET @ERROR_MESSAGE=ERROR_MESSAGE();
			RAISERROR(@ERROR_MESSAGE,16,1)
		END CATCH
	END
GO
/****** Object:  StoredProcedure [dbo].[CRUD_MANAGER]    Script Date: 05/03/2017 23:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_MANAGER]
@MANAGERID INT=NULL,
@TEAM VARCHAR(150)=NULL,
@EMPID INT=NULL,
@Input VARCHAR(50)
AS
	BEGIN
		BEGIN TRY
			IF(@Input='INSERT')
			BEGIN
				INSERT INTO MANAGER(MANAGERID,TEAM,EMPID)VALUES(@MANAGERID,@TEAM,@EMPID)
			END
			IF(@Input='UPDATE')
			BEGIN
				UPDATE MANAGER SET TEAM=@TEAM WHERE MANAGERID=@MANAGERID
			END
			IF(@Input='DELETE')
			BEGIN
				DELETE FROM MANAGER WHERE MANAGERID=@MANAGERID
			END
			IF(@Input='SELECT ALL')
			BEGIN
				SELECT * FROM MANAGER
			END
			IF(@Input='SELECT BY ID')
			BEGIN
				SELECT * FROM MANAGER WHERE MANAGERID=@MANAGERID
			END
		END TRY
		BEGIN CATCH
			DECLARE @ERROR_MESSAGE VARCHAR(300)
			SET @ERROR_MESSAGE=ERROR_MESSAGE();
			RAISERROR(@ERROR_MESSAGE,16,1)
		END CATCH
	END
GO
/****** Object:  StoredProcedure [dbo].[CRUD_EMPLOYEELEAVES]    Script Date: 05/03/2017 23:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRUD_EMPLOYEELEAVES]
@LEAVEID INT=NULL,
@LEAVENAME VARCHAR(150)=NULL,
@LEAVEDATE DATETIME=NULL,
@EMPID INT=NULL,
@Input VARCHAR(50)
AS
	BEGIN
		BEGIN TRY
			IF(@Input='INSERT')
				BEGIN
					INSERT INTO EMPLOYEELEAVES(LEAVEID,LEAVENAME,LEAVEDATE,EMPID)VALUES(@LEAVEID,@LEAVENAME,@LEAVEDATE,@EMPID)
				END
			IF(@Input='UPDATE')
				BEGIN
					UPDATE EMPLOYEELEAVES SET LEAVENAME=@LEAVENAME,LEAVEDATE=@LEAVEDATE,EMPID=@EMPID WHERE LEAVEID=@LEAVEID
				END
			IF(@Input='DELETE')
				BEGIN
					DELETE FROM EMPLOYEELEAVES WHERE LEAVEID=@LEAVEID
				END
			IF(@Input='SELECT ALL')
				BEGIN
					SELECT * FROM EMPLOYEELEAVES
				END
			IF(@Input='SELECT BY ID')
				BEGIN
					SELECT * FROM EMPLOYEELEAVES WHERE LEAVEID=@LEAVEID
				END
		END TRY
	    BEGIN CATCH
			DECLARE @ERROR_MESSAGE VARCHAR(300)
			SET @ERROR_MESSAGE=ERROR_MESSAGE();
			RAISERROR(@ERROR_MESSAGE,16,1)
	    END CATCH
	END
GO
/****** Object:  ForeignKey [FK__EMPLOYEE__TEAMID__117F9D94]    Script Date: 05/03/2017 23:33:29 ******/
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([TEAMID])
REFERENCES [dbo].[TEAM] ([TEAMID])
GO
/****** Object:  ForeignKey [FK__EMPLOYEE__TRAINI__1273C1CD]    Script Date: 05/03/2017 23:33:29 ******/
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([TRAININGID])
REFERENCES [dbo].[TRAINING] ([TRAININGID])
GO
/****** Object:  ForeignKey [FK__EMPLOYEEL__EMPID__267ABA7A]    Script Date: 05/03/2017 23:33:29 ******/
ALTER TABLE [dbo].[EMPLOYEELEAVES]  WITH CHECK ADD FOREIGN KEY([EMPID])
REFERENCES [dbo].[EMPLOYEE] ([EMPID])
GO
/****** Object:  ForeignKey [FK__MANAGER__EMPID__173876EA]    Script Date: 05/03/2017 23:33:29 ******/
ALTER TABLE [dbo].[MANAGER]  WITH CHECK ADD FOREIGN KEY([EMPID])
REFERENCES [dbo].[EMPLOYEE] ([EMPID])
GO
/****** Object:  ForeignKey [FK__SALARYSLI__EMPID__1CF15040]    Script Date: 05/03/2017 23:33:29 ******/
ALTER TABLE [dbo].[SALARYSLIP]  WITH CHECK ADD FOREIGN KEY([EMPID])
REFERENCES [dbo].[EMPLOYEE] ([EMPID])
GO
/****** Object:  ForeignKey [FK__TIMESHEET__EMPID__21B6055D]    Script Date: 05/03/2017 23:33:29 ******/
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([EMPID])
REFERENCES [dbo].[EMPLOYEE] ([EMPID])
GO
